# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
env/
venv/
ENV/
.env

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Logs
*.log

# Distribution / Build
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/